section {
    display: flex;
    font-family: Open Sans Regular;
}

.contacts {
    max-height: 100vh;
    min-width: 22%;
    width: 22%;
    border-right: 1px solid #B2BEB5;
    min-height: 100vh;
    background-color: white;
    overflow-y: scroll;
}

.user {
    border-bottom: 1px solid #E5E4E2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.user-left {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.user-left h3 {
    margin: 3%;
}

.user-left img {
    width: 2rem;
    border: 2px solid #CEC8EF;
    border-radius: 50%;
}

.user-right {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.user-right i {
    margin-left: 15px;
    color: grey;
}

.data-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.data-user h3 {
    font-size: 14px;
    text-align: center;
}

.data-user p {
    margin: 0;
    font-size: 10px;
    color: grey;
    text-align: center;
}

.new-chat {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E4E2;
}

.new-chat button {
    background-color: #A491D2;
    color: white;
    border: none;
    margin: 30px 30px;
    padding: 14px 54px;
}

.contact {
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid #E5E4E2;
    display: flex;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.contact-info h4 {
    margin: 3%;
}

.contact img {
    width: 46px;
    border: 2px solid #CEC8EF;
    border-radius: 50%;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #f3f5f1;
}

.main-section img {
    width: 220px;
    height: 210px;
    border-radius: 8px;
}

.main-section h1 {
    font-size: 38px;
    margin-bottom: 0px;
}

.main-section p {
    width: 40%;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}